
/*
========================================================================================
  Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Boilerplate options
    outdir                     = './results'
    tracedir                   = "${params.outdir}/pipeline_info"
    
    // Max requirements
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
} 

profiles {

    farm22 {
        process.executor = 'lsf'

        docker {
            enabled = false
        }

        executor {
            name = 'lsf'
            perJobMemLimit = true
            queueSize = 10
            submitRateLimit = '5 sec'
            killBatchSize = 50
            poolSize = 4
        }

        process {
            withName: BAM_TO_FASTQ { 
                memory = 20.GB
                cpus = 4
                queue = 'yesterday'
            }
            withName: RUN_KRAKEN2 { 
                memory = 20.GB
                cpus = 8
                queue = 'yesterday'
            }
            withName: RUN_KRAKENTOOLS {
                memory = 10.GB
                cpus = 4
                queue = 'yesterday'
            }
            withName: RUN_SPARKI {
                memory = 16.GB
                cpus = 4
                queue = 'yesterday'
            }
        }
    }

}



